@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arizonia", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
}

@font-face {
  font-family: "Unbounded", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
}
